# Environment variables
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.pytest_cache/

# Virtual environment
venv/
.env/
.venv/
env/

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db