fastapi
uvicorn[standard]

pydantic
python-dotenv
python-multipart
email-validator

numpy
pandas
scikit-learn
scipy

spacy
spacy-transformers
sentence-transformers

torch
transformers

pymongo
motor

supabase

docx2txt
python-docx
pdfminer.six

requests
httpx

slowapi
passlib[bcrypt]
python-jose[cryptography]
